$primary-normal: #06121e;
$primary-dark: #000000;
$primary-light: #590300;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$seconddary-light: #1a1f25;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #ffff;
$white-dark: #eeedf0;
$white-lihgt: #fefbff;

$red-normal: #590300;
$red-dark: #b42b2b;
$red-light: #d34040;